@{
    ViewBag.Title = "PostList";
    Layout = "~/Views/Shared/_BaseUserLayoutPage.cshtml";
}

@section headersection{
  <style type="text/css">
      .postlist{width:700px;}
    </style>    
}
@model PageSearchResult<JokePostInfo>
@using Joke.Model.ViewModel
@using Joke.Model.Domain


<h2>我发布的笑话</h2>
@if (Model.TotalCount == 0)
{
    <div>暂无待审核笑话</div>
}
else
{

    <table class="gridtable">
        <tr>
            <th>序号</th>
            <th>标题</th>
           
            <th>发表时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>

        @foreach (var m in Model.Items)
        {
            <tr>
                <td>@m.JokeId</td>
                <td>@m.Title</td>
                
                <td>@m.PostDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@Html.Raw(m.JokeState == 0 ? "待审核" : "已审核") </td>
                <td>
                    <a href="#" onclick="jokeDetail(@m.JokeId)">查看</a>
                    
                </td>
            </tr>
        }
    </table>

}



