@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_BaseAdminLayoutPage.cshtml";
}
@model PageSearchResult<T_User>
@using Joke.Model.ViewModel
@using Joke.Model.Domain
@section header{
    <script type="text/javascript">
        function updateUsers(uid,state) {
            if(confirm(state=="1"?"确认解锁该用户?":"确认拖黑该用户"))
            {
                $.post('/account/UpdateUserState',{uid:uid,state:state},function(data){
                    if(data.Success){
                        alert('操作成功');
                    }
                });
            }
            
        }

        function userSearch(){

        }

        function deleteUser(uid){
            if(confirm("确认删除该用户"))
            {
                $.post('/account/DeleteUser',{uid:uid},function(data){
                    if(data.Success){
                        alert('操作成功');
                    }
                    else
                    {
                        alert(data.Message);

                    }
                });
            }
        }
    </script>
}
<h2>用户管理</h2>

@if (Model.TotalCount == 0)
{
    <div>暂无待审核笑话</div>
}
else
{

    <table class="gridtable">
        <tr>
            <th>会员ID</th>
            <th>用户名</th>
            <th>邮件</th>
            <th>昵称</th>
            <th>注册时间</th>
            <th>角色</th>
            <th>状态</th>
            <th>操作</th>
        </tr>

        @foreach (var m in Model.Items)
        {
            <tr>
                <td>@m.ID</td>
                <td>@m.UserName</td>
                <td>@m.Email</td>
                <td>@m.NikeName</td>
                <td>@m.RegisterDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@Html.Raw(m.IsAdmin == 0 ? "会员" : "管理员") </td>
                <td>@Html.Raw(m.State == 0 ? "无效" : "有效") </td>
                <td>
                    <a href="#" onclick="jokeDetail(@m.ID)">查看</a>
                    @if (m.State == 0)
                    {
                        <a href="#" onclick="updateUsers(@m.ID,1)">解锁</a>
                    }
                    @if (m.State == 1)
                    {
                        <a href="#" onclick="updateUsers(@m.ID,0)">拖黑</a>
                    }
                    <a href="#" onclick="deleteUser(@m.ID)">删除用户</a>
                </td>

            </tr>
        }
    </table>

}
