@model PageSearchResult<T_User>
@using Joke.Model.ViewModel
@using Joke.Model.Domain

@if (Model.TotalCount == 0)
{
    <div>暂无待审核笑话</div>
}
else
{

    <table class="gridtable">
        <tr>
            <th>会员ID</th>
            <th>用户名</th>
            <th>邮件</th>
            <th>昵称</th>
            <th>注册时间</th>
            <th>角色</th>
            <th>状态</th>
            <th>操作</th>
        </tr>

        @foreach (var m in Model.Items)
        {
            <tr>
                <td>@m.ID</td>
                <td>@m.UserName</td>
                <td>@m.Email</td>
                <td>@m.NikeName</td>
                <td>@m.RegisterDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@Html.Raw(m.IsAdmin == 0 ? "会员" : "管理员") </td>
                <td>@Html.Raw(m.State == 0 ? "无效" : "有效") </td>
                <td>
                    <a href="#" onclick="jokeDetail(@m.ID)">查看</a>
                    @if (m.State == 0)
                    {
                        <a href="#" onclick="updateUsers(@m.ID,1)">解锁</a>
                    }
                    @if (m.State == 1)
                    {
                        <a href="#" onclick="updateUsers(@m.ID,0)">拖黑</a>
                    }
                </td>



            </tr>
        }
    </table>

}

