
@{
    Layout = null;
}
@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    @Styles.Render("~/content/xiaohuacss")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("header",false)
</head>
<body>

    <div id="headerWrap" class="site-nav wrapper clearfix">
        <div class="site-nav-inner clearfix">
            <div class="quick-menu">
                <a target="_parent" href="/">超级冷笑话</a>
            </div>

            <div class="login-info" id="userbar">
                @if (Request.IsAuthenticated)
                {
                    <a target="_self" href="/user/profile" rel="nofollow">@HttpContext.Current.User.Identity.Name</a>
                    <a target="_self" href="/user/logout" rel="nofollow">退出</a>
                }
                else
                {
                    <a target="_self" href="/login" rel="nofollow">登录</a>
                    <a target="_blank" href="/register" rel="nofollow">注册</a>
                }

            </div>
        </div>
    </div>
    <div style="height:400px;margin-top:10px;" class="wrapper clearfix">

        <div class="profileLeft">
            <ul class="useractionlist">
                <li><a href="/account/verifylist">笑话审核</a></li>
                <li><a href="/account/userlist">用户管理</a></li>
                <li><a href="/account/userlog">操作日志</a></li>
                <li><a href="/account/links">友情链接</a></li>
            </ul>
        </div>
        <div class="profileRight">
            @RenderBody()
        </div>
    </div>
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
</body>
</html>
