@{
    Layout = null;
    UserInfoPrincipal userinfo = System.Web.HttpContext.Current.User as UserInfoPrincipal;
}
@using Joke.Web.Models
@using Joke.Web.Auth
@using StackExchange.Profiling
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    
    <link type="text/css" rel="stylesheet" href="~/Content/xiaohualist.css" />
    
    <script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    @RenderSection("header", false)
</head>
<body class="@ViewBag.BgClass">
    <div id="headerWrap" class="site-nav">
        <div class="site-nav-inner clearfix">
            <div class="quick-menu">
                <a target="_blank" href="/">超级冷笑话</a>
            </div>

            <div class="login-info" id="userbar">
                @if (Request.IsAuthenticated)
                {
                    <a target="_self" href="/user/profile" rel="nofollow">@HttpContext.Current.User.Identity.Name</a>
                    if (userinfo.IsAdmin == 1)
                    {
                        <a href="/account/index" rel="nofollow">管理中心</a>
                    }
                    <a target="_self" href="/user/logout" rel="nofollow">退出</a>
                }
                else
                {
                    <a target="_self" href="/login" rel="nofollow">登录</a>
                    
                    <a target="_blank" href="/register" rel="nofollow">注册</a>
                }
                <a target="_blank" href="http://m.superjokes.cn" title="超级冷笑话手机版">手机看笑话</a>
                <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=db2897f450bce914323fa66ec8d4d7c94f62fd75b6e5e7230d1d7db28dd82c93">
                    <img style="height:20px;" border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="超级冷笑话" title="超级冷笑话">
                </a>
            </div>
        </div>
    </div>
    <div class="header clearfix">
        <a href="/" class="logo">
            <h3 style="font-weight:bold;font-size:35px;">超级冷笑话</h3>
        </a>


        
    </div>
    @Html.Partial("_TopMenus")
    @RenderBody()
    @Html.Partial("_FriendLinks")
    @Html.Partial("_About")
    @if (!Request.IsLocal)
    {
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?f344538d97afb5266a5905a8d337115d";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>

    }
    @MiniProfiler.RenderIncludes()
</body>

</html>
