@{
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
    int nextPage = Model.Page == Model.TotalPages ? 1 : Model.Page + 1;

}
@model PageSearchResult<JokePostInfo>
@using Joke.Model.Dto
@using SuperJokes.Mobile.Helpers
@using Joke.Model.ViewModel
<div>
    <a href="/home/index" target="_parent">超级冷笑话</a>><a target="_parent" href="@SuperJokeHelper.GetCategoryJokes(Model.Data)">@Model.Data1</a>
</div>
@foreach (var m in Model.Items)
{
    <div class="haha">

        <h3><a href="@SuperJokeHelper.GetCategoryJokes(m.CategoryPinyin)" target="_parent">@m.Category</a>:<a href="@SuperJokeHelper.GetJokeDetail(m.JokeId)" target="_parent">@m.Title</a></h3>
        @Html.Raw(m.Content)
    </div>
}
<p id="pages">
    @if (Model.Page < Model.TotalPages)
    {
        <a href="@SuperJokeHelper.GetPageLink(Model.Data,Model.Page+1)" target="_parent">下→页</a>
    }
    @if (Model.Page > 1)
    {
        <a href="@SuperJokeHelper.GetPageLink(Model.Data,Model.Page-1)" target="_parent">上←页</a>
    }

</p>