@model Tuple<JokePostInfo, T_Joke, T_Joke>
@using Joke.Model.ViewModel
@using Joke.Model.Domain
@using SuperJokes.Mobile.Helpers
@{
    ViewBag.Title = "JokeDetail";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";

    var currentJoke = Model.Item1;
    var lastJoke = Model.Item2;
    var nextJoke = Model.Item3;
}
<div><a href="/" target="_parent">超级冷笑话</a>><a target="_parent" href="@SuperJokeHelper.GetCategoryJokes(Model.Item1.CategoryPinyin)">@Model.Item1.Category</a></div>
<div class="haha">
    <h3><a href="@SuperJokeHelper.GetCategoryJokes(Model.Item1.CategoryPinyin)" target="_self">@Model.Item1.Category:</a>@Model.Item1.Title</h3>
    @Html.Raw(Model.Item1.Content)
</div>
<div class="haha">
    @if (nextJoke != null)
    {
        <p style="margin-left:100px;">
            下一篇:<a style="margin-left:5px;" target="_parent" href="@SuperJokeHelper.GetJokeDetail(nextJoke.ID)">@nextJoke.Title</a>
        </p>

    }
    @if (lastJoke != null)
    {
        <p style="margin-left:100px;">上一篇:<a style="margin-left:5px;" target="_parent" href="@SuperJokeHelper.GetJokeDetail(lastJoke.ID)">@lastJoke.Title</a></p>
    }
</div>
