@{
    ViewBag.Title = "JokeList";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
@model PageSearchResult<JokePostInfo>
@using Joke.Model.ViewModel
@using SuperJokes.Mobile.Helpers
<div><a href="/" target="_parent">超级冷笑话</a>><a target="_parent" href="@SuperJokeHelper.GetCategoryJokes(Model.Data)">@Model.Data1</a></div>
@foreach (var m in Model.Items)
{
    <div class="haha">

        <h3><a target="_self" href="@SuperJokeHelper.GetCategoryJokes(m.CategoryPinyin)">@m.Category:</a><a href="@SuperJokeHelper.GetJokeDetail(m.JokeId)" target="_parent">@m.Title</a></h3>
        @Html.Raw(m.Content)
    </div>
}
<p id="pages">
    @if (Model.Page < Model.TotalPages)
    {
        <a href="@SuperJokeHelper.GetPageLink(Model.Data,Model.Page+1)" target="_parent">下→页</a>
    }
    @if (Model.Page > 1)
    {
        <a href="@SuperJokeHelper.GetPageLink(Model.Data,Model.Page-1)" target="_parent">上←页</a>
    }

</p>