@model JokeCategoryJokesModel
@using Joke.Model.ViewModel
@using Joke.Web.Helpers

<div class="section">
    <div class="section-header">
        <h2 class="section-title">@Model.CategoryName</h2>
    </div>
    <ul class="news-list video-list">

        @foreach (var p in Model.JokeInfos)
        {
            <li>
                <span class="time">@Html.Raw(p.AddDate.ToString("MM月dd日"))</span>
                <a href="@JokeHelper.GetJokeDetail(p.ID)" title="@p.Title" target="_blank">@p.Title</a>
            </li>
        }

    </ul><div class="more-link">
             <a class="more" href="@JokeHelper.GetCategoryJokes(Model.PinYin)" target="_blank">
                 
                 @Html.Raw(string.Format("共{0}条{1}»",Model.TotalCount,Model.CategoryName))
             </a>
    </div>
</div>