@{
    ViewBag.BgClass = "indexPage-body";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";

}
@using Joke.Web.Auth
@section header{
    <script type="text/javascript" src="~/Scripts/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("img.lazyloading").lazyload();
        });
    </script>
}
<div class="wrapper clearfix">
    <!-- main -->
    <div class="main">
        <!-- section -->
        @Html.Action("CategorySummary", "Home", null)
        <!-- //section -->
        <!-- new-panel -->
        @Html.Action("LatestJokes", "Home", null)
        <!-- //new-panel -->
    </div>
    <!-- //main -->
    <!-- aside -->
    <div class="aside">
        @Html.Partial("WeiXin")
        <!-- section -->
        @Html.Action("LikeMostJokes", "Home", null)
        <!-- //section -->
    </div>
    <!-- //aside -->
</div>



@Html.Action("JokeImgList")

<div class="wrapper section-lists">
    <!-- list-inner -->
    <div class="list-inner clearfix">
        <!-- section -->
        @Html.Partial("HotCategoryJokes", new { categoryId =1})
        <div class="section">
            <div class="section-header">
                <h2 class="section-title">幽默笑话</h2>
            </div>
            <ul class="news-list video-list">
                <li>
                    <span class="time">30日</span>
                    <a href="/detail45/44956.html" title="光棍的原因" target="_blank">光棍的原因</a>
                </li>
                <li>
                    <span class="time">24日</span>
                    <a href="/detail45/44898.html" title="安全气囊特别管用" target="_blank">安全气囊特别管用</a>
                </li>
                <li>
                    <span class="time">01日</span>
                    <a href="/detail45/44708.html" title="一年只逛两次海澜之家" target="_blank">一年只逛两次海澜之家</a>
                </li>
                <li>
                    <span class="time">06日</span>
                    <a href="/detail45/44538.html" title="跟我干，有钱赚" target="_blank">跟我干，有钱赚</a>
                </li>
                <li>
                    <span class="time">03日</span>
                    <a href="/detail45/44486.html" title="二货超车" target="_blank">二货超车</a>
                </li>
                <li>
                    <span class="time">25日</span>
                    <a href="/detail45/44432.html" title="快来人呐！出事了" target="_blank">快来人呐！出事了</a>
                </li>
                <li>
                    <span class="time">29日</span>
                    <a href="/detail45/44314.html" title="参加葬礼" target="_blank">参加葬礼</a>
                </li>
                <li>
                    <span class="time">26日</span>
                    <a href="/detail45/44265.html" title="瘦人健身" target="_blank">瘦人健身</a>
                </li>
                <li>
                    <span class="time">23日</span>
                    <a href="/detail45/44258.html" title="蚊子飞过" target="_blank">蚊子飞过</a>
                </li>
                <li>
                    <span class="time">23日</span>
                    <a href="/detail45/44255.html" title="懂事的孩子" target="_blank">懂事的孩子</a>
                </li>
            </ul><div class="more-link"><a class="more" href="/youmo/" target="_blank">共2181条幽默笑话»</a></div>
        </div>
        <div class="section">
            <div class="section-header">
                <h2 class="section-title">爱情笑话</h2>
            </div>
            <ul class="news-list video-list">
                <li>
                    <span class="time">29日</span>
                    <a href="/detail45/44941.html" title="被打击了" target="_blank">被打击了</a>
                </li>
                <li>
                    <span class="time">22日</span>
                    <a href="/detail45/44873.html" title="爱情的含义" target="_blank">爱情的含义</a>
                </li>
                <li>
                    <span class="time">15日</span>
                    <a href="/detail45/44842.html" title="老婆和我的对话" target="_blank">老婆和我的对话</a>
                </li>
                <li>
                    <span class="time">10日</span>
                    <a href="/detail45/44795.html" title="怎样给足男朋友面子" target="_blank">怎样给足男朋友面子</a>
                </li>
                <li>
                    <span class="time">08日</span>
                    <a href="/detail45/44745.html" title="糗大了" target="_blank">糗大了</a>
                </li>
                <li>
                    <span class="time">01日</span>
                    <a href="/detail45/44706.html" title="被老婆骂了" target="_blank">被老婆骂了</a>
                </li>
                <li>
                    <span class="time">18日</span>
                    <a href="/detail45/44655.html" title="论男人出轨" target="_blank">论男人出轨</a>
                </li>
                <li>
                    <span class="time">17日</span>
                    <a href="/detail45/44632.html" title="女朋友很生气" target="_blank">女朋友很生气</a>
                </li>
                <li>
                    <span class="time">12日</span>
                    <a href="/detail45/44584.html" title="分手后的事情" target="_blank">分手后的事情</a>
                </li>
                <li>
                    <span class="time">09日</span>
                    <a href="/detail45/44542.html" title="两种不同的女孩" target="_blank">两种不同的女孩</a>
                </li>
            </ul><div class="more-link"><a class="more" href="/aiqing/" target="_blank">共1084条爱情笑话»</a></div>
        </div>
        <div class="section">
            <div class="section-header">
                <h2 class="section-title">爆笑男女笑话</h2>
            </div>
            <ul class="news-list video-list">
                <li>
                    <span class="time">26日</span>
                    <a href="/detail45/44442.html" title="这是我的香皂" target="_blank">这是我的香皂</a>
                </li>
                <li>
                    <span class="time">21日</span>
                    <a href="/detail45/44232.html" title="今天第一次" target="_blank">今天第一次</a>
                </li>
                <li>
                    <span class="time">16日</span>
                    <a href="/detail45/44177.html" title="你最喜欢我哪" target="_blank">你最喜欢我哪</a>
                </li>
                <li>
                    <span class="time">27日</span>
                    <a href="/detail44/43624.html" title="酒吧里，几个兄弟在闲聊" target="_blank">酒吧里，几个兄弟在闲聊</a>
                </li>
                <li>
                    <span class="time">10日</span>
                    <a href="/detail44/43347.html" title="同学和她小姨子" target="_blank">同学和她小姨子</a>
                </li>
                <li>
                    <span class="time">27日</span>
                    <a href="/detail44/43138.html" title="最好的理由" target="_blank">最好的理由</a>
                </li>
                <li>
                    <span class="time">27日</span>
                    <a href="/detail44/43136.html" title="最开心的事情" target="_blank">最开心的事情</a>
                </li>
                <li>
                    <span class="time">24日</span>
                    <a href="/detail44/43111.html" title="小小笑话" target="_blank">小小笑话</a>
                </li>
                <li>
                    <span class="time">10日</span>
                    <a href="/detail43/42936.html" title="喝醉酒的代价" target="_blank">喝醉酒的代价</a>
                </li>
                <li>
                    <span class="time">10日</span>
                    <a href="/detail43/42930.html" title="男女不公平" target="_blank">男女不公平</a>
                </li>
            </ul><div class="more-link"><a class="more" href="/baoxiaonannv/" target="_blank">共1020条爆笑男女笑话»</a></div>
        </div>
        <div class="section">
            <div class="section-header">
                <h2 class="section-title">爆笑笑话</h2>
            </div>
            <ul class="news-list video-list">
                <li>
                    <span class="time">29日</span>
                    <a href="/detail45/44942.html" title="教你洗衣服的小窍门" target="_blank">教你洗衣服的小窍门</a>
                </li>
                <li>
                    <span class="time">24日</span>
                    <a href="/detail45/44896.html" title="我能试试吗" target="_blank">我能试试吗</a>
                </li>
                <li>
                    <span class="time">22日</span>
                    <a href="/detail45/44886.html" title="两个导弹在中途相遇" target="_blank">两个导弹在中途相遇</a>
                </li>
                <li>
                    <span class="time">15日</span>
                    <a href="/detail45/44829.html" title="你摸谁呢" target="_blank">你摸谁呢</a>
                </li>
                <li>
                    <span class="time">05日</span>
                    <a href="/detail45/44517.html" title="卖糖葫芦的被揍了" target="_blank">卖糖葫芦的被揍了</a>
                </li>
                <li>
                    <span class="time">05日</span>
                    <a href="/detail45/44515.html" title="吃饭塞牙了" target="_blank">吃饭塞牙了</a>
                </li>
                <li>
                    <span class="time">03日</span>
                    <a href="/detail45/44485.html" title="怒放的生命" target="_blank">怒放的生命</a>
                </li>
                <li>
                    <span class="time">03日</span>
                    <a href="/detail45/44481.html" title="被儿子发现了" target="_blank">被儿子发现了</a>
                </li>
                <li>
                    <span class="time">06日</span>
                    <a href="/detail45/44378.html" title="媳妇和朋友" target="_blank">媳妇和朋友</a>
                </li>
                <li>
                    <span class="time">04日</span>
                    <a href="/detail45/44366.html" title="结局可能更惨" target="_blank">结局可能更惨</a>
                </li>
            </ul><div class="more-link"><a class="more" href="/baoxiao/" target="_blank">共2625条爆笑笑话»</a></div>
        </div>
        <div class="section">
            <div class="section-header">
                <h2 class="section-title">校园笑话</h2>
            </div>
            <ul class="news-list video-list">
                <li>
                    <span class="time">29日</span>
                    <a href="/detail45/44927.html" title="帮室友去买洗发水" target="_blank">帮室友去买洗发水</a>
                </li>
                <li>
                    <span class="time">24日</span>
                    <a href="/detail45/44905.html" title="峰回路转" target="_blank">峰回路转</a>
                </li>
                <li>
                    <span class="time">24日</span>
                    <a href="/detail45/44894.html" title="多亏没发现" target="_blank">多亏没发现</a>
                </li>
                <li>
                    <span class="time">22日</span>
                    <a href="/detail45/44874.html" title="学渣和弱智" target="_blank">学渣和弱智</a>
                </li>
                <li>
                    <span class="time">22日</span>
                    <a href="/detail45/44868.html" title="虎牙和獠牙" target="_blank">虎牙和獠牙</a>
                </li>
                <li>
                    <span class="time">15日</span>
                    <a href="/detail45/44838.html" title="欲哭无泪" target="_blank">欲哭无泪</a>
                </li>
                <li>
                    <span class="time">15日</span>
                    <a href="/detail45/44837.html" title="对答案" target="_blank">对答案</a>
                </li>
                <li>
                    <span class="time">15日</span>
                    <a href="/detail45/44828.html" title="我的被子掉下来了" target="_blank">我的被子掉下来了</a>
                </li>
                <li>
                    <span class="time">15日</span>
                    <a href="/detail45/44826.html" title="小学二年级的事" target="_blank">小学二年级的事</a>
                </li>
                <li>
                    <span class="time">10日</span>
                    <a href="/detail45/44800.html" title="上课迟到了" target="_blank">上课迟到了</a>
                </li>
            </ul><div class="more-link"><a class="more" href="/xiaoyuan/" target="_blank">共1857条校园笑话»</a></div>
        </div>
        <div class="section">
            <div class="section-header">
                <h2 class="section-title">名著暴笑笑话</h2>
            </div>
            <ul class="news-list video-list">
                <li>
                    <span class="time">22日</span>
                    <a href="/detail45/44888.html" title="这个力度可好" target="_blank">这个力度可好</a>
                </li>
                <li>
                    <span class="time">17日</span>
                    <a href="/detail45/44626.html" title="来日方长" target="_blank">来日方长</a>
                </li>
                <li>
                    <span class="time">26日</span>
                    <a href="/detail45/44445.html" title="三打白骨精" target="_blank">三打白骨精</a>
                </li>
                <li>
                    <span class="time">04日</span>
                    <a href="/detail45/44350.html" title="自我激励" target="_blank">自我激励</a>
                </li>
                <li>
                    <span class="time">28日</span>
                    <a href="/detail45/44292.html" title="爆笑三国" target="_blank">爆笑三国</a>
                </li>
                <li>
                    <span class="time">07日</span>
                    <a href="/detail45/44077.html" title="医院的科室" target="_blank">医院的科室</a>
                </li>
                <li>
                    <span class="time">31日</span>
                    <a href="/detail45/44028.html" title="我要怎么找到恩人" target="_blank">我要怎么找到恩人</a>
                </li>
                <li>
                    <span class="time">16日</span>
                    <a href="/detail44/43855.html" title="卖火柴的小女" target="_blank">卖火柴的小女</a>
                </li>
                <li>
                    <span class="time">11日</span>
                    <a href="/detail44/43792.html" title="张飞和关羽" target="_blank">张飞和关羽</a>
                </li>
                <li>
                    <span class="time">10日</span>
                    <a href="/detail44/43784.html" title="名著暴读" target="_blank">名著暴读</a>
                </li>
            </ul><div class="more-link"><a class="more" href="/mingzhubaoxiao/" target="_blank">共85条名著暴笑笑话»</a></div>
        </div>
        <div class="section">
            <div class="section-header">
                <h2 class="section-title">恋爱必读笑话</h2>
            </div>
            <ul class="news-list video-list">
                <li>
                    <span class="time">20日</span>
                    <a href="/detail37/36834.html" title="恋爱的经典妙喻" target="_blank">恋爱的经典妙喻</a>
                </li>
                <li>
                    <span class="time">05日</span>
                    <a href="/detail15/14377.html" title="半边翅膀的传说" target="_blank">半边翅膀的传说</a>
                </li>
                <li>
                    <span class="time">29日</span>
                    <a href="/detail13/12877.html" title="关于女人艳遇的最高机密" target="_blank">关于女人艳遇的最高机密</a>
                </li>
                <li>
                    <span class="time">29日</span>
                    <a href="/detail13/12876.html" title="失恋之后的自处之道" target="_blank">失恋之后的自处之道</a>
                </li>
                <li>
                    <span class="time">29日</span>
                    <a href="/detail13/12875.html" title="柔情一吻" target="_blank">柔情一吻</a>
                </li>
                <li>
                    <span class="time">29日</span>
                    <a href="/detail13/12874.html" title="女孩的第一次Kiss" target="_blank">女孩的第一次Kiss</a>
                </li>
                <li>
                    <span class="time">29日</span>
                    <a href="/detail13/12873.html" title="初恋六忌" target="_blank">初恋六忌</a>
                </li>
                <li>
                    <span class="time">29日</span>
                    <a href="/detail13/12872.html" title="好色谈！（女人版）" target="_blank">好色谈！（女人版）</a>
                </li>
                <li>
                    <span class="time">29日</span>
                    <a href="/detail13/12871.html" title="男人和女人" target="_blank">男人和女人</a>
                </li>
                <li>
                    <span class="time">29日</span>
                    <a href="/detail13/12870.html" title="热恋中的“期待效应”" target="_blank">热恋中的“期待效应”</a>
                </li>
            </ul><div class="more-link"><a class="more" href="/lianaibidu/" target="_blank">共70条恋爱必读笑话»</a></div>
        </div>
        <div class="section">
            <div class="section-header">
                <h2 class="section-title">求爱秘籍笑话</h2>
            </div>
            <ul class="news-list video-list">
                <li>
                    <span class="time">15日</span>
                    <a href="/detail43/42701.html" title="古诗新译" target="_blank">古诗新译</a>
                </li>
                <li>
                    <span class="time">22日</span>
                    <a href="/detail42/41331.html" title="找对象的要求" target="_blank">找对象的要求</a>
                </li>
                <li>
                    <span class="time">08日</span>
                    <a href="/detail41/40092.html" title="不同的时候不同的表现" target="_blank">不同的时候不同的表现</a>
                </li>
                <li>
                    <span class="time">23日</span>
                    <a href="/detail32/31264.html" title="心向手求婚" target="_blank">心向手求婚</a>
                </li>
                <li>
                    <span class="time">23日</span>
                    <a href="/detail32/31263.html" title="心向胆求婚" target="_blank">心向胆求婚</a>
                </li>
                <li>
                    <span class="time">23日</span>
                    <a href="/detail32/31262.html" title="目向口求婚" target="_blank">目向口求婚</a>
                </li>
                <li>
                    <span class="time">23日</span>
                    <a href="/detail32/31261.html" title="鼻向脸求婚" target="_blank">鼻向脸求婚</a>
                </li>
                <li>
                    <span class="time">23日</span>
                    <a href="/detail32/31260.html" title="头向脸求婚" target="_blank">头向脸求婚</a>
                </li>
                <li>
                    <span class="time">23日</span>
                    <a href="/detail32/31259.html" title="脸向牙求婚" target="_blank">脸向牙求婚</a>
                </li>
                <li>
                    <span class="time">23日</span>
                    <a href="/detail32/31258.html" title="唇向舌求婚" target="_blank">唇向舌求婚</a>
                </li>
            </ul><div class="more-link"><a class="more" href="/qiuaimiji/" target="_blank">共75条求爱秘籍笑话»</a></div>
        </div>
        <!-- section -->
    </div>
    <!-- list-inner-->
</div>