@{
    ViewBag.BgClass = "list-body-bg";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
@model PageSearchResult<JokePostInfo>
@using Joke.Model.ViewModel
@using Joke.Web.Helpers
@section header{
    <script type="text/javascript" src="~/Scripts/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.lazyload.min.js"></script>
    
    <script type="text/javascript">
        $(function () {
            $("img.lazyloading").lazyload();
            $("img.lazyloading2").lazyload();
            jokesfollow();
            
            $.scrollUp({
                scrollName: 'scrollUp',
                scrollText: '', // Text for element, can contain HTML
                scrollTitle: false,          // Set a custom <a> title if required.
                scrollImg: true
            });
            
        });

        

    function jokesfollow() {
        $("em.followBtn").each(function () {
            $(this).click(function () {
                var jokeid = $(this).attr("data");
                var followtype = $(this).attr("type");
                var txt = "";
                if (followtype == 1) {
                    txt = "赞";
                }
                else {
                    txt = "踩";
                }
                var followCookieValue = $.cookie('joke' + jokeid);
                if (followCookieValue != null)
                {
                    $(this).parent('div.vote-btn').append(showMsg(txt));

                    $(this).parent('div.vote-btn').children('div.article-layer-box').hide(2000);
                }

                $(this).unbind("click");
                $(this).parent("div.vote-btn").siblings("div.vote-btn").children("em.followBtn").unbind("click");
                $.cookie('joke' + jokeid, jokeid, { expires: 7 });
                $.post('/joke/JokeFollow', { jokeid: jokeid, type: followtype }, function (data) {

                });
                $(this).children("span.text").html(Number($(this).children("span.text").html())+1);
                $(this).parent('div.vote-btn').append(showMsg(txt));

                $(this).parent('div.vote-btn').children('div.article-layer-box').hide(2000);

            });
        });
    }

    function showMsg(txt)
    {
        var msg = "";
        msg = msg + '<div style="display: block;" class="article-layer-box">';
        msg = msg + '<div class="layer-inner">';
        msg += '<i class="icon correct-icon">已'+txt+'过</i>';
        msg += '<span>已'+txt+'过</span></div>';
        msg += '<i class="icon arrow-icon"></i>';
        msg += '</div>';
        return msg;
    }
</script>

}
<div class="wrapper location clearfix">
    <a class="collect" href="#"></a>
    <a href="/">超级冷笑话</a><i> &gt; </i>
    <h1>@Model.Data1</h1>
</div>
<div class="wrapper clearfix">
    <!-- main -->
    <div class="main">
        <!-- filter -->
        @Html.Action("CategoryJokeList", "Joke", null)
        <!-- //filter -->
        <!-- article-list -->
        <ul class="article-list">

            @foreach (var p in Model.Items)
            {
                <li class="article-summary">
                    <span class="article-topbar"></span>
                    <h1 class="article-title">
                        @p.Title
                    </h1>
                    <div class="article-source">
                        <a class="user-icon" href="/" rel="nofollow" target="_blank">
                            <img width="30" height="30" alt="@p.NikeName" src="~/Imgs/defaultphoto.png">
                        </a>
                        <a href="/" target="_blank" rel="nofollow" class="nike-name">@p.UserName</a>
                        <a class="nike-name" style="margin-left:5px;">@p.PostDate.ToString("yyyy-MM-dd HH:mm:ss")</a>
                        <a class="nike-name" target="_self" style="margin-left:5px;" href="@JokeHelper.GetCategoryJokes(p.CategoryPinyin)" title="@string.Format("{0}笑话,超级冷笑话",p.Category)">@p.Category</a>
                    </div>
                    <div class="summary-text">
                        @if (p.JokeType == 0)
                        {
                            <div>@Html.Raw(p.Content)</div>
                            if (Request.IsAuthenticated && (System.Web.HttpContext.Current.User as Joke.Web.Auth.UserInfoPrincipal).IsAdmin > 0)
                            {
                                if (p.JokeType == 0)
                                {
                                    <a style="color:firebrick;text-decoration:underline;" href="/joke/UpdateJoke?jokeid=@p.JokeId">编辑</a>
                                }

                            }
                        }
                        else
                        {
                            <div>
                                
                                <img class="lazyloading" src="/imgs/loadingplace.png" data-original="@JokeHelper.GetJokeImg(p.Content)" alt="@p.Title" /></div>
                        }
                        
                    </div>
                    <div class="article-commentbar articleCommentbar clearfix" data-id="@p.JokeId">
                        <a class="all-read" href="@JokeHelper.GetJokeDetail(p.JokeId)" target="_blank">查看全文»</a>
                        <div class="share-btn-box">
                            
                            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
                            <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": '@Html.Raw(p.Title)', "bdMini": "2", "bdMiniList": false, "bdPic": "@Html.Raw(JokeHelper.GetShareImg(p))", "bdStyle": "1", "bdSize": "16" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                        </div>
                        <div class="good-btn-box vote-btn">
                            <em class="good-btn followBtn @string.Format("btn{0}",p.JokeId)" data="@p.JokeId" type="1">
                                <i class="icon"></i><span class="text">@p.LikeCount</span>
                            </em>
                        </div>
                        <div class="bad-btn-box vote-btn">
                            <em class="bad-btn followBtn @string.Format("btn{0}",p.JokeId)" data="@p.JokeId" type="2">
                                <i class="icon"></i><span class="text">@p.HateCount</span>
                            </em>
                        </div>
                    </div>
                </li>
            }
        </ul>

        <!-- //article-list -->
        <!-- page-box -->
        <div class="page-box">
           
            <div class="page">
                @Html.ShowPageNavigate(Model.Page,Model.TotalCount,Model.TotalPages,Model.Data)
            </div>
        </div>		<!-- //page-box -->
    </div>

    <!-- //main -->
    <!-- aside -->
    <div class="aside">
        <!-- section -->
        @Html.Action("Last20HourJokes","Joke",null)
        <!-- //section -->
        <!-- section -->
        @Html.Action("LikeMostImages","Joke",null)
        <!-- //section -->
        <!-- section -->
        
        <!-- //section -->
    </div>
    <!-- //aside -->
</div>

