@model List<T_Joke>
@using Joke.Model.Domain
@using Joke.Web.Helpers
<div class="wrapper section wrapper-section">
    <div class="section-header">
        <a class="more" href="/images/" target="_self" title="搞笑图片">更多»</a>
        <h2 class="section-title">最新搞笑趣图</h2>
    </div>
    <ul class="pic-text intriguing-list clearfix">
        
        @foreach (var s in Model)
        {
            <li class="item">
                <span class="pic">
                    <a class="img-wrap" href="@JokeHelper.GetJokeDetail(s.ID)" target="_self">
                        <img class="lazyloading" src="/imgs/loadingplace.png" width="170" height="109" title="@Html.Raw(s.Title)" alt="@Html.Raw(s.Title)" data-original="@JokeHelper.GetJokeImg(s.Content)" shid="1" style="opacity: 1;">
                    </a>
                    <a class="text" href="@JokeHelper.GetJokeDetail(s.ID)" title="@Html.Raw(s.Title)" target="_self">@Html.Raw(s.Title)</a>
                </span>
            </li>
        }
    </ul>

</div>