@model PageSearchResult<CommentViewInfo>
@using Joke.Model.ViewModel
@using Joke.Web.Auth
@{
    UserInfoPrincipal userinfo = System.Web.HttpContext.Current.User as UserInfoPrincipal;
}
<div class="section comment-section">
    <div id="commentinfolist">
        <div id="commentsFilter" class="section-header">
            <h3 class="section-title">用户评论<em>(@Model.TotalCount)</em></h3>
        </div>
        <ul id="discussArea" class="discuss-area"></ul>
        <ul id="commentsList" class="comment-list">

            @foreach (var m in Model.Items)
            {
                <li class="comment-item  single-item  clearfix">
                    <a class="pic avator" style="color: #999; text-decoration:none;">
                        <img width="40" height="40" alt="" src="~/Imgs/defaultphoto.png">
                    </a>
                    <div data-name="@m.UserName" class="comment-infor">
                        <div class="comment-header">
                            <span class="floor-num">@string.Format("{0}搂", m.Floor)</span>
                            <span class="name-bar">
                                <a class="name" style="color: #999; text-decoration:none;">@m.UserName</a>
                            </span>
                        </div>
                        <div class="cpmment-content">
                            <p class="comment_P">
                                @Html.Raw(m.Comment)
                                @if (Request.IsAuthenticated && userinfo.IsAdmin == 1)
                                {
                                    <a data="@m.CommentId" onclick="deletecomments(@m.CommentId);" href="#" style="color:firebrick;text-decoration:underline;" rel="nofollow" class="deletelink">删除</a>
                                }

                                
                        </p>
                    </div>
                </div>
            </li>
            }
        </ul>
        <!--page-box-->
        <!--//page-box-->
    </div>

    <!--post-box-->
    <div class="post-box">
        <div class="post-header clearfix"><span id="showStr" class="tip"></span><h3 class="post-title">发表评论</h3></div>
        @if (Request.IsAuthenticated)
        {
            <div class="post-text">
                <textarea id="sendText" onfocus="if (this.value == '来说几句，吐个槽！~') this.value = ''; this.style.color = '#333';" onblur="    (function (obj) { var val = obj.value.replace(/(^\s*)|(\s*$)/g, ''); if (!val) { obj.value = '来说几句，吐个槽！~'; obj.style.color = '#999999'; } })(this);">来说几句，吐个槽！~</textarea>
            </div>
            <div class="post-toolbar clearfix">
                <button type="button" id="submitBtn" class="submit-button active-button" onclick="postComment();">吐槽</button>
                <div class="dimension-code">
                    <span>验证码</span>
                    <input type="text" name="checkimg" maxlength="5" id="verifyCode" value="" class="check-code">
                    <span class="tips">
                        <img width="50" height="30" id="valiCode" style="cursor: pointer;" src="/Home/GetVerifyCode" alt="验证码,点击图片更换" onclick="javascript: $('#valiCode').attr('src', '/Home/GetVerifyCode?t=' + Math.random());" />
                    </span>
                </div>
                <div id="faceList" class="face">
                    <span class="icon smile-icon emotion">表情</span>
                </div>
            </div>
        }
        else
        {
            <div id="faceList" class="face" style="display:none;">
                <textarea id="sendText"></textarea>
                <span class="icon smile-icon emotion">表情</span>
            </div>
            <div>
                请先<a href="/login" target="_parent" style="color:firebrick;text-decoration:underline;">登录</a>
            </div>
        }
    </div>
    <!--//post-box-->
</div>