@model Tuple<JokePostInfo, T_Joke, T_Joke>
@using Joke.Model.Domain
@using Joke.Web.Helpers
@using Joke.Model.ViewModel
@using Joke.Web.Auth
@{
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
    var currentJoke = Model.Item1;
    var lastJoke = Model.Item2;
    var nextJoke = Model.Item3;
}
@section header{
    <script type="text/javascript" src="~/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript">

        $(function () {
            jokesfollow();

            //
            $(document).keydown(function (event) {
                //alert(event.keyCode);
                switch (event.keyCode) {
                    case 37:
                        var link = $("#lastJokeLink").attr("href");
                        if ($.trim(link) != "") {
                            window.location.href = link;
                        }
                        else {
                            alert('已结束');
                        }
                        break;
                    case 39:

                        var link = $("#nextJokeLink").attr("href");
                        if ($.trim(link) != "") {
                            window.location.href = link;
                        }
                        else {
                            alert('已结束');
                        }
                        break;
                }
            });
        });

        function jokesfollow() {
            $("em.followBtn").each(function () {
                $(this).click(function () {
                    var jokeid = $(this).attr("data");
                    var followtype = $(this).attr("type");
                    var txt = "";
                    if (followtype == 1) {
                        txt = "赞";
                    }
                    else {
                        txt = "踩";
                    }
                    var followCookieValue = $.cookie('joke' + jokeid);
                    if (followCookieValue != null) {
                        $(this).parent('div.vote-btn').append(showMsg(txt));

                        $(this).parent('div.vote-btn').children('div.article-layer-box').hide(2000);
                    }

                    $(this).unbind("click");
                    $(this).parent("div.vote-btn").siblings("div.vote-btn").children("em.followBtn").unbind("click");
                    $.cookie('joke' + jokeid, jokeid, { expires: 7 });
                    $.post('/joke/JokeFollow', { jokeid: jokeid, type: followtype }, function (data) {

                    });
                    $(this).children("span.text").html(Number($(this).children("span.text").html()) + 1);
                    $(this).parent('div.vote-btn').append(showMsg(txt));

                    $(this).parent('div.vote-btn').children('div.article-layer-box').hide(2000);

                });
            });
        }

        function showMsg(txt) {
            var msg = "";
            msg = msg + '<div style="display: block;" class="article-layer-box">';
            msg = msg + '<div class="layer-inner">';
            msg += '<i class="icon correct-icon">已' + txt + '过</i>';
            msg += '<span>已' + txt + '过</span></div>';
            msg += '<i class="icon arrow-icon"></i>';
            msg += '</div>';
            return msg;
        }
    </script>
}
<div class="wrapper location clearfix">
    <a class="collect" href="#"></a>
    <a href="/">笑话大全</a><i> &gt; </i>
    <a href="/latest/">笑话连篇</a><i> &gt; </i>
    <a href="/lengxiaohua/">冷笑话</a><i> &gt; </i>
    <span>冷笑话...</span>
</div>
<div class="wrapper clearfix">
    <!-- main -->
    <div class="main">
        <!-- article -->
        <div class="section article">
            <div class="article-header">
                <div class="article-page clearfix">
                    @if (lastJoke != null)
                    {
                        <a class="prev" href="@JokeHelper.GetJokeDetail(lastJoke.ID)">上一页</a>
                    }

                    @if (nextJoke != null)
                    {
                        <a class="next" href="@JokeHelper.GetJokeDetail(nextJoke.ID)">下一页</a>
                    }

                </div>
                <h1 class="article-title">@currentJoke.Title</h1>
                <div class="article-source">
                    <span>来源：</span>
                    <a href="/" target="_blank" rel="nofollow">本站原创</a>
                    <span>@currentJoke.PostDate.ToString("yyyy-MM-dd HH:mm:ss")</span>
                </div>
            </div>
            <div class="article-text">
                @if (currentJoke.JokeType == 0)
                {
                    @currentJoke.Content
                }
                else if (currentJoke.JokeType == 1)
                {
                    <img src="@JokeHelper.GetJokeImg(currentJoke.Content)" />
                }
                @if (Request.IsAuthenticated && (System.Web.HttpContext.Current.User as UserInfoPrincipal).IsAdmin > 0)
                {
                    if (currentJoke.JokeType == 0)
                    {
                        <a style="color:firebrick;text-decoration:underline;" href="/joke/UpdateJoke?jokeid=@currentJoke.JokeId">编辑</a>
                    }

                }

            </div>
            <div class="article-commentbar articleCommentbar clearfix" data-id="@currentJoke.JokeId">
                <div class="share-btn-box">

                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
                    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": '@Html.Raw(JokeHelper.GetShareContent(currentJoke))', "bdMini": "2", "bdMiniList": false, "bdPic": "@Html.Raw(JokeHelper.GetShareImg(currentJoke))", "bdStyle": "1", "bdSize": "16" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                </div>
                <div class="good-btn-box vote-btn">
                    <em class="good-btn followBtn" data="@currentJoke.JokeId" type="1">
                        <i class="icon"></i><span class="text">@currentJoke.LikeCount</span>
                    </em>
                </div>
                <div class="bad-btn-box  vote-btn">
                    <em class="bad-btn followBtn" data="@currentJoke.JokeId" type="2">
                        <i class="icon"></i><span class="text">@currentJoke.HateCount</span>
                    </em>
                </div>
            </div>
            <div class="related-article clearfix">
                <span class="next">
                    @if (nextJoke != null)
                    {
                        <em>下一篇：</em>
                        <a id="nextJokeLink" href="@JokeHelper.GetJokeDetail(nextJoke.ID)" title="@nextJoke.Title">@nextJoke.Title</a>
                    }

                </span>
                <span class="prev">
                    @if (lastJoke != null)
                    {
                        <em>上一篇：</em>
                        <a id="lastJokeLink" href="@JokeHelper.GetJokeDetail(lastJoke.ID)" title="@lastJoke.Title">@lastJoke.Title</a>
                    }

                </span>
                <span class="tip">可用“←”或“→”方向键快速翻页</span>
            </div>
        </div>
        <!-- comment-section -->
        <!-- //comment-section -->
        <!-- //article -->
        @Html.Action("ReadMostJokes", "Joke", null)
        <!-- filter -->
        @Html.Action("CategoryList", "Joke", null)
        <!-- //filter -->

    </div>
    <!-- //main -->
    <!-- aside -->
    <div class="aside">
        <!-- section -->
        @Html.Action("LikeMostJokes", "Home", null)
        <!-- //section -->
        <!-- section -->
        <!-- //section -->

    </div>
    <!-- //aside -->
</div>
